.twitter_standart a
{
     display: block;
     padding: 2px 5px 2px 20px;
     background: url('http://a4.twimg.com/images/favicon.ico') 1px center no-repeat;
     border: 1px solid #ccc;
     text-decoration: none;
     width:90px;
     cursor:pointer;
}

.twitter_box input
{
    background: url('/../images/twitter.png') no-repeat;
    border: none;
    height: 32px;
    width: 32px;
    text-indent: -9999px;
    cursor: pointer;
    outline: none;
}
.social{
    margin: 10px 0;
    padding: 10px;
}